@font-face {
	font-family: 'Poppins';
	src: url("../fonts/Poppins-Light.ttf");
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url("../fonts/Poppins-Medium.ttf");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url("../fonts/Poppins-Regular.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url("../fonts/Poppins-SemiBold.ttf");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url("../fonts/Poppins-Bold.ttf");
	font-weight: bold;
	font-style: normal;
}

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	min-height: 100%;
	min-height: 100vh;
	font-family: "Poppins";
	font-weight: normal;
}

a {
	text-decoration: none;
}

ul,
ol,
li {
	list-style-type: none;
	padding: 0;
}

.menu {
	display: block;
	margin: 0;
	position: relative;
}

.menu_row {
	font-size: 0;
	position: relative;
	margin-left: -7.5px;
	margin-right: -7.5px;
}

.menu__list {
	padding: 7.5px;
}

.menu__link {
	display: block;
	font-size: 16px;
	color: #000;
	font-size: 20px;
	text-decoration: none;
	padding: 7.5px;
}

.menu__link_border_solid_1 {
	border: 1px solid;
}

.menu__link_border_dotted_2 {
	border: 2px dotted;
}

.menu__link_border_dashed_3 {
	border: 3px dashed;
}

.menu__link_border_solid_4 {
	border: 4px solid;
}

.menu__link_border_solid_5 {
	border: 5px solid;
}

.menu__link_border_solid_6 {
	border: 6px solid;
}

.menu__link_border_color {
	border-color: #faa;
}

.form {
	display: block;
	margin: 0;
	position: relative;
	display: block;
}

.form__button {
	max-width: 100px;
	padding: 3px;
}

.btn {
	display: block;
	margin: 0;
	position: relative;
	width: 100%;
	font-size: 14px;
	font-size: 0.9rem;
	border: none;
	color: #000;
	font-family: sans;
	background: #ccc;
	text-align: center;
	cursor: pointer;
}

.grid {
	display: block;
	margin: 0;
	position: relative;
}

.grid_row {
	font-size: 0;
	position: relative;
	margin-left: -7.5px;
	margin-right: -7.5px;
}

.grid__element {
	font-size: 16px;
	padding: 7.5px;
}

.grid__content {
	padding: 5px;
}

.grid__content_border_solid_3 {
	border: 3px solid;
}

.grid__content_border_color {
	border-color: #aac1ff;
}

@media (min-width: 320px) {

.menu__list_width_100x50x25 {
	display: inline-block;
	width: 100%;
}

.grid__element_width_100x50x10 {
	display: inline-block;
	width: 100%;
}

.grid__element_width_100x50x80 {
	display: inline-block;
	width: 100%;
}

.grid__element_width_100x50x70 {
	display: inline-block;
	width: 100%;
}

.grid__element_width_100x50x30 {
	display: inline-block;
	width: 100%;
}

.grid__element_width_100x50x20 {
	display: inline-block;
	width: 100%;
}

}

@media (min-width: 480px) {

.menu__list_width_100x50x25 {
	display: inline-block;
	width: 50%;
}

.grid__element_width_100x50x10 {
	display: inline-block;
	width: 50%;
}

.grid__element_width_100x50x80 {
	display: inline-block;
	width: 50%;
}

.grid__element_width_100x50x70 {
	display: inline-block;
	width: 50%;
}

.grid__element_width_100x50x30 {
	display: inline-block;
	width: 50%;
}

.grid__element_width_100x50x20 {
	display: inline-block;
	width: 50%;
}

}

@media (min-width: 1024px) {

.menu__list_width_100x50x25 {
	display: inline-block;
	width: 25%;
}

.grid__element_width_100x50x10 {
	display: inline-block;
	width: 10%;
}

.grid__element_width_100x50x80 {
	display: inline-block;
	width: 80%;
}

.grid__element_width_100x50x70 {
	display: inline-block;
	width: 70%;
}

.grid__element_width_100x50x30 {
	display: inline-block;
	width: 30%;
}

.grid__element_width_100x50x20 {
	display: inline-block;
	width: 20%;
}

}

