@charset "UTF-8";
@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Light.ttf");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Medium.ttf");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Regular.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-SemiBold.ttf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Bold.ttf");
  font-weight: bold;
  font-style: normal; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-size: 2rem; }

h2 {
  font-size: 1.8rem; }

h3, h4, h5, h6 {
  font-size: 1.3rem; }

.mySVG {
  display: none; }

.ic-2 {
  fill: #fff; }

* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-height: 100vh;
  font-family: "Poppins";
  font-weight: normal; }

a {
  text-decoration: none; }

ul, ol, li {
  list-style-type: none;
  padding: 0; }

input[type="radio"] {
  display: none; }

input[type="checkbox"] {
  display: none; }

.button {
  display: block;
  margin: 0;
  position: relative;
  width: 100%;
  font-size: 14px;
  font-size: 0.9rem;
  border: none;
  color: #000;
  font-family: sans;
  background: #ccc;
  text-align: center;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 7px 0;
  color: #fff;
  border: 1px solid #ccc; }
  .button input, .button textarea {
    width: 100%; }
  .button_big {
    padding: 14px 0; }
  .button_success {
    background-color: #9acdbb;
    border-color: #9acdbb; }
  .button_alert {
    background-color: #cb4c4e;
    border-color: #cb4c4e; }
  .button_conform {
    background-color: #445665;
    border-color: #445665; }
  .button_neutral_clear {
    background-color: transparent;
    border-color: #fff; }
  .button_neutral {
    background-color: #fff;
    border-color: #fff;
    color: #445665; }
  .button_clear_success {
    background-color: transparent;
    border-color: transparent;
    color: #9acdbb; }
  .button_clear_alert {
    background-color: transparent;
    border-color: transparent;
    color: #cb4c4e; }
  .button_clear_default {
    background-color: transparent;
    border-color: transparent; }
  .button_ico_search {
    background-color: transparent;
    border-color: transparent;
    background-image: url("../images/search.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    height: 100%;
    max-height: 2rem; }

.grid {
  display: block;
  margin: 0;
  position: relative; }
  .grid input, .grid textarea {
    width: 100%; }
  .grid_row {
    font-size: 0;
    position: relative;
    margin: -7px; }
  .grid__element {
    font-size: 0.8rem;
    padding: 7px;
    width: 100%; }
    @media (min-width: 320px) {
      .grid__element_width_25x50x10 {
        display: inline-block;
        width: 25%; } }
    @media (min-width: 480px) {
      .grid__element_width_25x50x10 {
        display: inline-block;
        width: 50%; } }
    @media (min-width: 1024px) {
      .grid__element_width_25x50x10 {
        display: inline-block;
        width: 10%; } }
    @media (min-width: 768px) {
      .grid__element_width_50x20 {
        display: inline-block;
        width: 50%; } }
    @media (min-width: 1024px) {
      .grid__element_width_50x20 {
        display: inline-block;
        width: 20%; } }
    @media (min-width: 768px) {
      .grid__element_width_50x30 {
        display: inline-block;
        width: 50%; } }
    @media (min-width: 1024px) {
      .grid__element_width_50x30 {
        display: inline-block;
        width: 30%; } }
    @media (min-width: 768px) {
      .grid__element_width_50 {
        display: inline-block;
        width: 50%; } }
  .grid__content {
    padding: 5px; }
    .grid__content_border_solid_2 {
      border: 2px solid; }
    .grid__content_border_color {
      border-color: #aac1ff; }

.input {
  display: block;
  margin: 0;
  position: relative;
  padding: 7;
  border: 1px solid #fff;
  font-size: 0.9rem;
  color: #445665;
  /* Firefox 19+ */
  /* Firefox 18- */ }
  .input input, .input textarea {
    width: 100%; }
  .input:placeholder {
    color: #445665; }
  .input::-webkit-input-placeholder {
    color: #445665; }
  .input::-moz-placeholder {
    color: #445665; }
  .input:-moz-placeholder {
    color: #445665; }
  .input:-ms-input-placeholder {
    color: #445665; }
  .input_neutral_clear {
    background-color: transparent;
    border-color: #fff;
    /* Firefox 19+ */
    /* Firefox 18- */ }
    .input_neutral_clear:placeholder {
      color: #fff; }
    .input_neutral_clear::-webkit-input-placeholder {
      color: #fff; }
    .input_neutral_clear::-moz-placeholder {
      color: #fff; }
    .input_neutral_clear:-moz-placeholder {
      color: #fff; }
    .input_neutral_clear:-ms-input-placeholder {
      color: #fff; }
  .input_alert {
    background-color: transparent;
    border-color: #cb4c4e;
    /* Firefox 19+ */
    /* Firefox 18- */ }
    .input_alert:placeholder {
      color: #cb4c4e; }
    .input_alert::-webkit-input-placeholder {
      color: #cb4c4e; }
    .input_alert::-moz-placeholder {
      color: #cb4c4e; }
    .input_alert:-moz-placeholder {
      color: #cb4c4e; }
    .input_alert:-ms-input-placeholder {
      color: #cb4c4e; }
  .input_success {
    background-color: transparent;
    border-color: #9acdbb;
    /* Firefox 19+ */
    /* Firefox 18- */ }
    .input_success:placeholder {
      color: #9acdbb; }
    .input_success::-webkit-input-placeholder {
      color: #9acdbb; }
    .input_success::-moz-placeholder {
      color: #9acdbb; }
    .input_success:-moz-placeholder {
      color: #9acdbb; }
    .input_success:-ms-input-placeholder {
      color: #9acdbb; }
  .input_disable {
    background-color: transparent;
    border-color: #888;
    /* Firefox 19+ */
    /* Firefox 18- */ }
    .input_disable:placeholder {
      color: #888; }
    .input_disable::-webkit-input-placeholder {
      color: #888; }
    .input_disable::-moz-placeholder {
      color: #888; }
    .input_disable:-moz-placeholder {
      color: #888; }
    .input_disable:-ms-input-placeholder {
      color: #888; }

.input-dot {
  display: block;
  margin: 0;
  position: relative; }
  .input-dot input, .input-dot textarea {
    width: 100%; }
  .input-dot__input:checked ~ .input-dot__label > .input-dot__dot:before {
    display: block; }
  .input-dot__input:disabled ~ .input-dot__label {
    color: #888;
    cursor: default; }
    .input-dot__input:disabled ~ .input-dot__label > .input-dot__dot:before {
      background-color: #888; }
  .input-dot__label {
    white-space: nowrap;
    cursor: pointer; }
  .input-dot__dot {
    display: inline-block;
    vertical-align: middle;
    width: 1rem;
    height: 1rem;
    border: 2px solid;
    padding: 2px; }
    .input-dot__dot:before {
      content: "";
      display: none;
      width: 100%;
      height: 100%;
      background-color: #4491fa; }
    .input-dot__dot_radio {
      border-radius: 50%; }
      .input-dot__dot_radio:before {
        border-radius: 100%; }
  .input-dot__text {
    font-size: 1rem;
    display: inline-block;
    vertical-align: middle;
    padding-left: 15px; }

.input-search {
  font-size: 0; }
  .input-search__input {
    display: inline-block;
    width: calc(100% - 2rem);
    vertical-align: middle; }
  .input-search__search-btn {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: middle;
    background-color: #fff;
    border-left: 1px #8a8888 solid; }

.input-toggle {
  display: block;
  margin: 0;
  position: relative;
  white-space: nowrap; }
  .input-toggle input, .input-toggle textarea {
    width: 100%; }
  .input-toggle__input:checked ~ .input-toggle__label {
    background-color: #9acdbb; }
    .input-toggle__input:checked ~ .input-toggle__label > .input-toggle__dot_off {
      background-color: #445665;
      color: transparent;
      margin: 2px;
      width: auto; }
    .input-toggle__input:checked ~ .input-toggle__label > .input-toggle__dot_on {
      color: inherit;
      width: 50%;
      background-color: transparent; }
  .input-toggle__input:checked:disabled ~ .input-toggle__label {
    background-color: #bdc1c4; }
    .input-toggle__input:checked:disabled ~ .input-toggle__label > .input-toggle__dot_off {
      background-color: #808c8c;
      color: transparent;
      margin: 2px;
      width: auto; }
    .input-toggle__input:checked:disabled ~ .input-toggle__label > .input-toggle__dot_on {
      color: inherit;
      width: 50%;
      background-color: transparent; }
  .input-toggle__input:disabled ~ .input-toggle__label {
    cursor: default; }
  .input-toggle__input:disabled ~ .input-toggle__text {
    color: #888; }
  .input-toggle__label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    cursor: pointer;
    display: block;
    color: #fff;
    background-color: #bdc1c4;
    display: inline-block;
    width: 5rem;
    vertical-align: middle; }
  .input-toggle__dot {
    font-size: 1rem;
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    padding-left: 0.4rem; }
    .input-toggle__dot_on {
      color: transparent;
      width: auto;
      background-color: #808c8c;
      margin: 2px; }
  .input-toggle__text {
    display: inline-block;
    font-size: 1rem;
    vertical-align: middle;
    padding-left: 1rem; }

.main-menu {
  color: #fff;
  display: inline-block; }
  @media (min-width: 1024px) {
    .main-menu {
      display: block;
      padding: 7px 0;
      background-color: #8878b9; } }
  .main-menu__list {
    width: 20%;
    text-align: left;
    padding: 0;
    position: relative;
    cursor: pointer;
    display: none; }
    @media (min-width: 1024px) {
      .main-menu__list {
        text-align: center;
        display: inline-block; } }
    .main-menu__list_column {
      display: block;
      width: 100%; }
    .main-menu__list:hover > .main-menu__sub-menu {
      display: block; }
    .main-menu__list_hamburger {
      background-image: url("../images/menu.png");
      background-repeat: no-repeat;
      display: inline-block;
      width: 39px;
      height: 39px;
      background-position: 7px 7px;
      background-size: 32px; }
      @media (min-width: 1024px) {
        .main-menu__list_hamburger {
          display: none; } }
    .main-menu__list_click:hover > .main-menu__sub-menu {
      display: none; }
    @media (max-width: 1023px) {
      .main-menu__list_hamburger_input:checked ~ .main-menu__list {
        background-color: #8878b9;
        display: block;
        width: auto;
        padding: 7;
        border: none;
        min-width: 150px; } }
  .main-menu__sub_click:checked ~ .main-menu__sub-menu {
    display: block; }
  .main-menu__link {
    color: #fff;
    font-size: 1rem;
    display: block;
    border-bottom: 1px solid;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer; }
    @media (min-width: 1024px) {
      .main-menu__link {
        border-bottom: none;
        border-right: 1px solid; } }
    .main-menu__link_last {
      border: none; }
  .main-menu__link-icon {
    display: inline-block;
    vertical-align: middle;
    padding-right: 5px;
    padding-bottom: 2px; }
  .main-menu__content {
    display: inline-block;
    vertical-align: middle; }
  .main-menu__sub-menu {
    display: none;
    top: 100%;
    min-width: 100%;
    right: 0;
    background-color: #8e7fc5;
    margin: 7px  -7px;
    z-index: 2; }
    @media (min-width: 1024px) {
      .main-menu__sub-menu {
        position: absolute;
        margin: 0;
        border-top: 7px solid #8878b9; } }

.sub-menu {
  color: #fff; }
  .sub-menu__list {
    display: block;
    width: 100%;
    border: 1px solid transparent; }
    .sub-menu__list_h {
      display: inline-block; }
    .sub-menu__list:hover {
      background-color: rgba(255, 255, 255, 0.2);
      border-color: #fff; }
  .sub-menu__link {
    color: #fff;
    font-size: 1rem;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }
    .sub-menu__link_last {
      border: none; }
    .sub-menu__link:hover ~ .main-menu__sub-menu {
      display: block;
      position: absolute; }
  .sub-menu__link-icon {
    display: inline-block;
    vertical-align: middle;
    padding-right: 5px;
    padding-bottom: 2px; }
  .sub-menu__content {
    display: inline-block;
    vertical-align: middle; }
  .sub-menu__sub-menu {
    display: none; }

.allContent {
  padding: 0 15px; }
  .allContent__wrapper {
    background-color: #5a5079;
    min-height: 100%;
    color: #fff; }

.index {
  display: block;
  margin: 0;
  position: relative;
  font-size: 0; }
  .index input, .index textarea {
    width: 100%; }
  .index_row {
    font-size: 0;
    position: relative;
    margin: -7px; }
  .index__col {
    vert-align: top;
    padding: 7px;
    vertical-align: top;
    width: 100%; }
    @media (min-width: 768px) {
      .index__col_width_50 {
        display: inline-block;
        width: 50%; } }
    @media (min-width: 768px) {
      .index__col_width_100x50 {
        display: inline-block;
        width: 100%; } }
    @media (min-width: 1024px) {
      .index__col_width_100x50 {
        display: inline-block;
        width: 50%; } }
  .index__buttons_row {
    font-size: 0;
    position: relative;
    margin: -7px; }
  .index__btn {
    font-size: 0;
    padding: 7px; }
    @media (min-width: 320px) {
      .index__btn_width_50x33 {
        display: inline-block;
        width: 50%; } }
    @media (min-width: 768px) {
      .index__btn_width_50x33 {
        display: inline-block;
        width: 33%; } }
    @media (min-width: 320px) {
      .index__btn_width_50 {
        display: inline-block;
        width: 50%; } }
    @media (min-width: 320px) {
      .index__btn_width_3 {
        display: inline-block;
        width: 3rem; } }
  .index__inputs_row {
    font-size: 0;
    position: relative;
    margin: -7px; }
  .index__input {
    font-size: 0;
    padding: 7px; }
  .index__dots_row {
    font-size: 0;
    position: relative;
    margin: -7px; }
  .index__dot {
    padding: 7px; }
    @media (min-width: 320px) {
      .index__dot_width_50 {
        display: inline-block;
        width: 50%; } }
  .index__toggles_row {
    font-size: 0;
    position: relative;
    margin: -7px; }
  .index__toggle {
    padding: 7px; }
    @media (min-width: 425px) {
      .index__toggle_width_50 {
        display: inline-block;
        width: 50%; } }

/*
.form {
  @include block();
  display: block;

  &__button {
    max-width: 100px;
    padding: 3px;
  }

}

.grid {
  @include block();
  @include row($indent);

  &__element {
    font-size: 0.8rem;
    padding: $indent+px;

    @include resize((320, 25, '%'), (480, 50, '%'), (1024, 10, '%'));
    @include resize((320, 100, '%'), (480, 50, '%'), (1024, 80, '%'));
    @include resize((320, 100, '%'), (480, 50, '%'), (1024, 70, '%'));
    @include resize((320, 100, '%'), (480, 50, '%'), (1024, 30, '%'));
    @include resize((320, 100, '%'), (480, 50, '%'), (1024, 20, '%'));
    @include resize((320, 100, '%'), (480, 33, '%'), (1024, 30, '%'));
    @include resize((320, 100, '%'), (480, 33, '%'), (1024, 40, '%'));
    @include resize((320, 50, '%'), (480, 50, '%'), (1024, 25, '%'));
    @include resize((320, 50, '%'), (480, 25, '%'), (1024, 10, '%'));
    @include resize((320, 50, '%'), (480, 25, '%'), (1024, 20, '%'));
    @include resize((320, 50, '%'), (480, 25, '%'), (1024, 30, '%'));
    @include resize((320, 50, '%'), (480, 25, '%'), (1024, 40, '%'));
  }

  &__content {
    padding: 5px;
    @include borderType(3, solid);

    &_border_color {
      border-color: $primaryColor;
    }
  }
}

.btn-blocks {
  @include block();
  @include row(-14);

  &__element {
    @include resize((320, 100, '%'), (480, 50, '%'), (1024, 100, 'px'));
    @include resize((320, 100, '%'), (480, 50, '%'), (1024, 150, 'px'));
    @include resize((320, 100, '%'), (480, 25, '%'), (1024, 250, 'px'));
    @include resize((320, 100, '%'), (480, 75, '%'), (1024, 450, 'px'));
    @include resize((320, 50, '%'), (480, 50, '%'), (1024, 50, '%'));
  }

  &__content {
    padding: $indent+px;
  }
}

.btn {
  @include block();
  //обнуляет любой блок под кнопку
  @include button();

  background-color: #fff;
  padding: 5px 0;
  border-radius: 4px;
  @include borderType(2, solid);

  &_success {
    color: green;
  }

  &_error {
    color: red;
  }

  &_alert {
    color: #fabd00;
    font-weight: bold;
  }

  &_conform {
    color: #fff;
    border-color: #4491fa;
    background-color: #4491fa;

  }
}

.input-dot {
  @include block();

  &__input {
    &:checked ~ .input-dot__label > .input-dot__dot:before {
      display: block;
    }
  }

  &__label {
    white-space: nowrap;
    cursor: pointer;
  }

  &__dot {
    display: inline-block;
    vertical-align: middle;
    width: 1rem;
    height: 1rem;
    border: 2px solid;
    padding: 2px;

    &:before {
      content: "";
      display: none;
      width: 100%;
      height: 100%;
      background-color: #4491fa;
    }

    &_radio {
      border-radius: 50%;

      &:before {
        border-radius: 100%;
      }
    }
  }

  &__text {
    font-size: 1rem;
    display: inline-block;
    vertical-align: middle;
    padding-left: 15px;
  }
}
*/