.button{
  @include block();
  //обнуляет любой блок под кнопку
  @include button();

  font-size: 0.9rem;
  padding: $indent+px 0;
  color: #fff;
  border: 1px solid #ccc;

  &_big{
    padding: $indent*2+px 0;
  }

  &_success{
    background-color: #9acdbb;
    border-color: #9acdbb;
  }

  &_alert{
    background-color: #cb4c4e;
    border-color: #cb4c4e;
  }

  &_conform{
    background-color: #445665;
    border-color: #445665;
  }

  &_neutral_clear{
    background-color: transparent;
    border-color: #fff;
  }

  &_neutral{
    background-color: #fff;
    border-color: #fff;
    color: #445665;
  }

  &_clear_success{
    background-color: transparent;
    border-color: transparent;
    color: #9acdbb;
  }

  &_clear_alert{
    background-color: transparent;
    border-color: transparent;
    color: #cb4c4e;
  }

  &_clear_default{
    background-color: transparent;
    border-color: transparent;
  }


  &_ico_search{
    background-color: transparent;
    border-color: transparent;
    background-image: url("../images/search.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    height: 100%;
    max-height: 2rem;
  }
}