button(type='submit').button Button
//button(type='submit').button.button_success Нажми
//button(type='submit').button.button_neutral_clear Нажми
//button(type='submit').button.button_conform Нажми
//button(type='submit').button.button_alert Нажми
//button(type='submit').button.button_neutral Нажми
//button(type='submit').button.button_clear_alert Нажми
//button(type='submit').button.button_clear_success Нажми
//button(type='submit').button.button_clear_default Нажми
//button(type='submit').button.button_ico_search Нажми