.input {
  @include block();
  padding: $indent;
  border: 1px solid #fff;
  font-size: 0.9rem;
  color: #445665;
  @include placeholder(#445665);


  &_neutral_clear {
    background-color: transparent;
    border-color: #fff;
    @include placeholder(#fff);
  }

  &_alert {
    background-color: transparent;
    border-color: #cb4c4e;
    @include placeholder(#cb4c4e);
  }

  &_success {
    background-color: transparent;
    border-color: #9acdbb;
    @include placeholder(#9acdbb);
  }
  &_disable {
    background-color: transparent;
    border-color: #888;
    @include placeholder(#888);
  }

}