@import "../blocks/mixin.scss";
@import "variables";
@import "global";
@import "../blocks/button/button";
@import "../blocks/grid/grid";
@import "../blocks/input/input";
@import "../blocks/input-dot/input-dot";
@import "../blocks/input-search/input-search";
@import "../blocks/input-toggle/input-toggle";
@import "../blocks/main-menu/main-menu";
@import "../blocks/sub-menu/sub-menu";

.allContent {
  padding: 0 15px;

  &__wrapper {
    background-color: #5a5079;
    min-height: 100%;
    color: #fff;
  }
}

.index {
  @include block();
  @include row($indent);
  font-size: 0;

  &__col {
    vert-align: top;
    padding: $indent+px;
    vertical-align: top;

    width: 100%;

    @include resize((768, 50, '%'));
    @include resize((768, 100, '%'), (1024, 50, '%'));
  }

  &__buttons {
    @include row($indent);
  }

  &__btn {
    font-size: 0;
    padding: $indent+px;

    @include resize((320, 50, '%'), (768, 33, '%'));
    @include resize((320, 50, '%'));
    @include resize((320, 3, 'rem'));
  }

  &__inputs{
    @include row($indent);
  }

  &__input{
    font-size: 0;
    padding: $indent+px;
  }

  &__dots{
    @include row($indent);
  }

  &__dot{
    padding: $indent+px;

    @include resize((320, 50, '%'));
  }

  &__toggles{
    @include row($indent);
  }

  &__toggle{
    padding: $indent+px;
    @include resize((425, 50, '%'));
  }

  &__menu{
  }
}


/*
.form {
  @include block();
  display: block;

  &__button {
    max-width: 100px;
    padding: 3px;
  }

}

.grid {
  @include block();
  @include row($indent);

  &__element {
    font-size: 0.8rem;
    padding: $indent+px;

    @include resize((320, 25, '%'), (480, 50, '%'), (1024, 10, '%'));
    @include resize((320, 100, '%'), (480, 50, '%'), (1024, 80, '%'));
    @include resize((320, 100, '%'), (480, 50, '%'), (1024, 70, '%'));
    @include resize((320, 100, '%'), (480, 50, '%'), (1024, 30, '%'));
    @include resize((320, 100, '%'), (480, 50, '%'), (1024, 20, '%'));
    @include resize((320, 100, '%'), (480, 33, '%'), (1024, 30, '%'));
    @include resize((320, 100, '%'), (480, 33, '%'), (1024, 40, '%'));
    @include resize((320, 50, '%'), (480, 50, '%'), (1024, 25, '%'));
    @include resize((320, 50, '%'), (480, 25, '%'), (1024, 10, '%'));
    @include resize((320, 50, '%'), (480, 25, '%'), (1024, 20, '%'));
    @include resize((320, 50, '%'), (480, 25, '%'), (1024, 30, '%'));
    @include resize((320, 50, '%'), (480, 25, '%'), (1024, 40, '%'));
  }

  &__content {
    padding: 5px;
    @include borderType(3, solid);

    &_border_color {
      border-color: $primaryColor;
    }
  }
}

.btn-blocks {
  @include block();
  @include row(-14);

  &__element {
    @include resize((320, 100, '%'), (480, 50, '%'), (1024, 100, 'px'));
    @include resize((320, 100, '%'), (480, 50, '%'), (1024, 150, 'px'));
    @include resize((320, 100, '%'), (480, 25, '%'), (1024, 250, 'px'));
    @include resize((320, 100, '%'), (480, 75, '%'), (1024, 450, 'px'));
    @include resize((320, 50, '%'), (480, 50, '%'), (1024, 50, '%'));
  }

  &__content {
    padding: $indent+px;
  }
}

.btn {
  @include block();
  //обнуляет любой блок под кнопку
  @include button();

  background-color: #fff;
  padding: 5px 0;
  border-radius: 4px;
  @include borderType(2, solid);

  &_success {
    color: green;
  }

  &_error {
    color: red;
  }

  &_alert {
    color: #fabd00;
    font-weight: bold;
  }

  &_conform {
    color: #fff;
    border-color: #4491fa;
    background-color: #4491fa;

  }
}

.input-dot {
  @include block();

  &__input {
    &:checked ~ .input-dot__label > .input-dot__dot:before {
      display: block;
    }
  }

  &__label {
    white-space: nowrap;
    cursor: pointer;
  }

  &__dot {
    display: inline-block;
    vertical-align: middle;
    width: 1rem;
    height: 1rem;
    border: 2px solid;
    padding: 2px;

    &:before {
      content: "";
      display: none;
      width: 100%;
      height: 100%;
      background-color: #4491fa;
    }

    &_radio {
      border-radius: 50%;

      &:before {
        border-radius: 100%;
      }
    }
  }

  &__text {
    font-size: 1rem;
    display: inline-block;
    vertical-align: middle;
    padding-left: 15px;
  }
}
*/
