@font-face{
  font-family: 'Poppins';

  src: url('../fonts/Poppins-Light.ttf');

  font-weight: 100;

  font-style: normal;
}

@font-face{
  font-family: 'Poppins';

  src: url('../fonts/Poppins-Medium.ttf');

  font-weight: 300;

  font-style: normal;
}

@font-face{
  font-family: 'Poppins';

  src: url('../fonts/Poppins-Regular.ttf');

  font-weight: normal;

  font-style: normal;
}

@font-face{
  font-family: 'Poppins';

  src: url('../fonts/Poppins-SemiBold.ttf');

  font-weight: 500;

  font-style: normal;
}

@font-face{
  font-family: 'Poppins';

  src: url('../fonts/Poppins-Bold.ttf');

  font-weight: bold;

  font-style: normal;
}


$indent: 7;

$first: #faa;
$font-size: 16;


$mainFont: 'Poppins';

$oneColor: #aac1ff;
$twoColor: #2c7c63;
$threeColor: #144937;
$fourColor: #141416;

$primaryColor: $oneColor;
$secondColor: $twoColor;


h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
  font-size: 2rem;
}
h2{
  font-size: 1.8rem;
}
h3,h4,h5,h6{
  font-size: 1.3rem;
}

.mySVG{
  display: none;
}

.ic-2{
  fill: #fff;
}

