ul.sub-menu
    li.sub-menu__list
        a(href="#").sub-menu__link content

    li.sub-menu__list
        a(href="#").sub-menu__link content

    li.sub-menu__list
        a(href="#").sub-menu__link content

    li.sub-menu__list
        a(href="#").sub-menu__link content

    li.sub-menu__list
        a(href="#").sub-menu__link content