.sub-menu {
  color: #fff;

  &__list {
      display: block;
      width: 100%;
      border: 1px solid transparent;

    &_h{
      display: inline-block;
    }

    &:hover{
      background-color: rgba(255, 255, 255, 0.2);
      border-color: #fff;
    }
  }

  &__link {
    color: #fff;
    font-size: 1rem;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    &_last {
      border: none;
    }

    &:hover {
      ~ .main-menu__sub-menu {
        display: block;
        position: absolute;
      }
    }

  }

  &__link-icon {
    display: inline-block;
    vertical-align: middle;
    padding-right: 5px;
    padding-bottom: 2px;
  }

  &__content {
    display: inline-block;
    vertical-align: middle;
  }

  &__sub-menu {
    display: none;
  }
}
