ul.sub-menu
    li.sub-menu__list.sub-menu__list_h
        a(href="#").sub-menu__link content

    li.sub-menu__list.sub-menu__list_h
        a(href="#").sub-menu__link content

    li.sub-menu__list.sub-menu__list_h
        a(href="#").sub-menu__link content

    li.sub-menu__list.sub-menu__list_h
        a(href="#").sub-menu__link content

    li.sub-menu__list.sub-menu__list_h
        a(href="#").sub-menu__link content