.grid.grid_row
    .grid__element.grid__element_width_25x50x10
        .grid__content.grid__content_border_solid_2.grid__content_border_color Grid
    .grid__element.grid__element_width_25x50x10
        .grid__content.grid__content_border_solid_2.grid__content_border_color Grid
    .grid__element.grid__element_width_25x50x10
        .grid__content.grid__content_border_solid_2.grid__content_border_color Grid
    .grid__element.grid__element_width_25x50x10
        .grid__content.grid__content_border_solid_2.grid__content_border_color Grid
    .grid__element.grid__element_width_25x50x10
        .grid__content.grid__content_border_solid_2.grid__content_border_color Grid
    .grid__element.grid__element_width_25x50x10
        .grid__content.grid__content_border_solid_2.grid__content_border_color Grid
    .grid__element.grid__element_width_25x50x10
        .grid__content.grid__content_border_solid_2.grid__content_border_color Grid
    .grid__element.grid__element_width_25x50x10
        .grid__content.grid__content_border_solid_2.grid__content_border_color Grid
    .grid__element.grid__element_width_25x50x10
        .grid__content.grid__content_border_solid_2.grid__content_border_color Grid
    .grid__element.grid__element_width_25x50x10
        .grid__content.grid__content_border_solid_2.grid__content_border_color Grid
    .grid__element.grid__element_width_50x20
        .grid__content.grid__content_border_solid_2.grid__content_border_color Grid
    .grid__element.grid__element_width_50x30
        .grid__content.grid__content_border_solid_2.grid__content_border_color Grid
    .grid__element.grid__element_width_50
        .grid__content.grid__content_border_solid_2.grid__content_border_color Grid
