.grid {
  @include block();
  @include row($indent);

  &__element {
    font-size: 0.8rem;
    padding: $indent+px;
    width: 100%;

    @include resize((320, 25, '%'), (480, 50, '%'), (1024, 10, '%'));
    @include resize((768, 50, '%'), (1024, 20, '%'));
    @include resize((768, 50, '%'), (1024, 30, '%'));
    @include resize((768, 50, '%'));
  }

  &__content {
    padding: 5px;
    @include borderType(2, solid);

    &_border_color {
      border-color: $primaryColor;
    }
  }
}