.main-menu {
  color: #fff;
  display: inline-block;

  @media (min-width: 1024px) {
    display: block;
    padding: $indent+px 0;
    background-color: #8878b9;
  }

  &__list {
    width: 20%;
    text-align: left;
    padding: 0;
    position: relative;
    cursor: pointer;
    display: none;

    @media (min-width: 1024px){
      text-align: center;
      display: inline-block;
    }


    &_column {
      display: block;
      width: 100%;
    }

    //выпадающий список по наведению
    &:hover {
      > .main-menu__sub-menu {
        display: block;
      }
    }
    &_hamburger {
      background-image: url("../images/menu.png");
      background-repeat: no-repeat;
      display: inline-block;
      width: 39px;
      height: 39px;
      background-position: 7px 7px;
      background-size: 32px;

      @media (min-width: 1024px) {
        display: none;
      }
    }


    &_click{
      &:hover {
        > .main-menu__sub-menu {
          display: none;
        }
      }
    }

    &_hamburger_input {
      @media (max-width: 1023px) {
        &:checked {
          & ~ .main-menu__list {
            background-color: #8878b9;
            display: block;
            width: auto;
            padding: $indent;
            border: none;
            min-width: 150px;
          }

        }
      }
    }
  }

//выпадающий список по клику
  &__sub_click{
    &:checked {
      & ~ .main-menu__sub-menu {
        display: block;
      }

    }
  }
  ///

  &__link {
    color: #fff;
    font-size: 1rem;
    display: block;
    border-bottom: 1px solid;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;

    @media (min-width: 1024px) {
      border-bottom: none;
      border-right: 1px solid;
    }

    &_last {
      border: none;
    }
  }

  &__link-icon {
    display: inline-block;
    vertical-align: middle;
    padding-right: 5px;
    padding-bottom: 2px;
  }

  &__content {
    display: inline-block;
    vertical-align: middle;
  }

  &__sub-menu {
    display: none;
    top: 100%;
    min-width: 100%;
    right: 0;
    background-color: #8e7fc5;
    margin: unquote($indent+"px " +" -"+$indent+px);
    z-index: 2;

    @media (min-width: 1024px) {
      position: absolute;
      margin: 0;
      border-top: $indent+px solid #8878b9;
    }
  }



}
