ul.main-menu
    input(type="checkbox" id="hamburger").main-menu__list_hamburger_input

    label(for="hamburger").main-menu__list.main-menu__list_hamburger

    li.main-menu__list
        a(href="#").main-menu__link
            .main-menu__link-icon
                svg(width="14px" height="14px" viewBox="0 0 510 510")
                    use(class="ic-2" xlink:href="#home" )
            span.main-menu__content Home
    li.main-menu__list
        a(href="#").main-menu__link
            span Something
    li.main-menu__list
        a(href="#").main-menu__link
            span Hover

        .main-menu__sub-menu
            include ../sub-menu/sub-menu.pug

    li.main-menu__list.main-menu__list_click
        input(type="checkbox" id="click").main-menu__sub_click

        label(for="click").main-menu__link.main-menu__link
            span Click

        .main-menu__sub-menu
            include ../sub-menu/sub-menu.pug

        .main-menu__main-menu
    li.main-menu__list
        a(href="#").main-menu__link.main-menu__link_last Contacnts


