.input-search{
  font-size: 0;


  &__input{
    display: inline-block;
    width: calc(100% - 2rem);
    vertical-align: middle;
  }

  &__search-btn{
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: middle;
    background-color: #fff;
    border-left: 1px #8a8888 solid;
  }
}