.input-toggle
    input(type="checkbox" name="toggle" id="toggle1").input-toggle__input
    label(for="toggle1").input-toggle__label
        span.input-toggle__dot.input-toggle__dot_on On
        span.input-toggle__dot.input-toggle__dot_off Off
    span.input-toggle__text Facebook



//.input-toggle
//    input(type="radio" name="dot" id="dot3").input-toggle__input
//    label(for="dot3").input-toggle__label
//        span.input-toggle__dot.input-toggle__dot_radio
//        span.input-toggle__text Button