.input-toggle {
  @include block();
  white-space: nowrap;

  &__input {
    &:checked {
      ~ .input-toggle__label {
        background-color: #9acdbb;

        > .input-toggle__dot {

          &_off {
            background-color: #445665;
            color: transparent;
            margin: 2px;
            width: auto;
          }

          &_on {
            color: inherit;
            width: 50%;
            background-color: transparent;

          }
        }
      }

      &:disabled {
        ~ .input-toggle__label {
          background-color: #bdc1c4;

          > .input-toggle__dot {

            &_off {
              background-color: #808c8c;
              color: transparent;
              margin: 2px;
              width: auto;
            }

            &_on {
              color: inherit;
              width: 50%;
              background-color: transparent;

            }
          }
        }
      }
    }

    &:disabled {
      ~ .input-toggle__label {
        cursor: default;
      }
      ~ .input-toggle__text {
        color: #888;
      }
    }

  }

  &__label {
    user-select: none;
    white-space: nowrap;
    cursor: pointer;
    display: block;
    color: #fff;
    background-color: #bdc1c4;
    display: inline-block;
    width: 5rem;
    vertical-align: middle;
  }

  &__dot {
    font-size: 1rem;
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    padding-left: 0.4rem;

    &_off {

    }

    &_on {
      color: transparent;
      width: auto;
      background-color: #808c8c;
      margin: 2px;
    }

  }

  &__text {
    display: inline-block;
    font-size: 1rem;
    vertical-align: middle;
    padding-left: 1rem;
  }

}