.input-dot
    input(type="checkbox" name="check" id="check1").input-dot__input
    label(for="check1").input-dot__label
        span.input-dot__dot.input-dot__dot_check
        span.input-dot__text Выбери
//.input-dot
//    input(type="radio" name="dot" id="dot3").input-dot__input
//    label(for="dot3").input-dot__label
//        span.input-dot__dot.input-dot__dot_radio
//        span.input-dot__text Button