.input-dot {
  @include block();

  &__input {
    &:checked ~ .input-dot__label > .input-dot__dot:before {
      display: block;
    }

    &:disabled ~ .input-dot__label{
      color: #888;
      cursor: default;

      >.input-dot__dot:before {
        background-color: #888;
      }
    }
  }

  &__label {
    white-space: nowrap;
    cursor: pointer;
  }

  &__dot {
    display: inline-block;
    vertical-align: middle;
    width: 1rem;
    height: 1rem;
    border: 2px solid;
    padding: 2px;

    &:before {
      content: "";
      display: none;
      width: 100%;
      height: 100%;
      background-color: #4491fa;
    }

    &_radio {
      border-radius: 50%;

      &:before {
        border-radius: 100%;
      }
    }
  }

  &__text {
    font-size: 1rem;
    display: inline-block;
    vertical-align: middle;
    padding-left: 15px;
  }
}