extends blocks/MainLayout.pug
block content
    include blocks/SVG.pug

    .index
        h1 Universal Mixin UI Kit

        .index__col.index__col_width_50
            h2  Grid
            include blocks/grid/grid.pug


            .index__col.index__col_width_100x50
                h2 Buttons

                .index__buttons.index__buttons_row
                    .index__btn.index__btn_width_50x33
                        include blocks/button/button.pug
                    .index__btn.index__btn_width_50x33
                        button(type='submit').button.button_success Button
                    .index__btn.index__btn_width_50x33
                        button(type='submit').button.button_neutral_clear Button
                    .index__btn.index__btn_width_50x33
                        button(type='submit').button.button_alert Button
                    .index__btn.index__btn_width_50x33
                        button(type='submit').button.button_conform Button
                    .index__btn.index__btn_width_50x33
                        button(type='submit').button.button_neutral Button
                    .index__btn.index__btn_width_50x33
                        button(type='submit').button.button_clear_alert Button
                    .index__btn.index__btn_width_50x33
                        button(type='submit').button.button_clear_success Button
                    .index__btn.index__btn_width_50x33
                        button(type='submit').button.button_clear_default Button


                    .index__btn.index__btn_width_50
                        button(type='submit').button.button_big Default
                    .index__btn.index__btn_width_50
                        button(type='submit').button.button_success.button_big Succsess
                    .index__btn.index__btn_width_50
                        button(type='submit').button.button_neutral_clear.button_big Info
                    .index__btn.index__btn_width_50
                        button(type='submit').button.button_alert.button_big Alert
                    .index__btn
                        button(type='submit').button.button_alert.button_success.button_big Alert

                    //.index__btn.index__btn_width_3
                    //    button(type='submit').button.button_ico_search


            .index__col.index__col_width_100x50







                h2 Forms
                .index__inputs.index__inputs_row
                    .index__input
                        include blocks/input/input.pug
                    .index__input
                        input(type="text" placeholder="Inactive").input.input_neutral_clear
                    .index__input
                        input(type="text" placeholder="Error").input.input_alert
                    .index__input
                        input(type="text" placeholder="Disaple" disabled="disable").input.input_disable
                    .index__input
                        include blocks/input-search/input-search.pug

                .index__dots.index__dots_row
                    .index__dot.index__dot_width_50
                        include blocks/input-dot/input-dot.pug
                    .index__dot.index__dot_width_50
                        .input-dot
                            input(type="checkbox" name="check" id="check2" disabled="disable").input-dot__input
                            label(for="check2").input-dot__label
                                span.input-dot__dot.input-dot__dot_check
                                span.input-dot__text Выбери

                    .index__dot.index__dot_width_50
                        .input-dot
                            input(type="checkbox" name="check" id="check3" checked).input-dot__input
                            label(for="check3").input-dot__label
                                span.input-dot__dot.input-dot__dot_check
                                span.input-dot__text Выбери

                    .index__dot.index__dot_width_50
                        .input-dot
                            input(type="checkbox" name="check" id="check4" checked disabled="disable").input-dot__input
                            label(for="check4").input-dot__label
                                span.input-dot__dot.input-dot__dot_check
                                span.input-dot__text Выбери

                    .index__dot.index__dot_width_50
                        .input-dot
                            input(type="radio" name="dot" id="dot1").input-dot__input
                            label(for="dot1").input-dot__label
                                span.input-dot__dot.input-dot__dot_radio
                                span.input-dot__text Button

                    .index__dot.index__dot_width_50
                        .input-dot
                            input(type="radio" name="dot" id="dot2" disabled="disable").input-dot__input
                            label(for="dot2").input-dot__label
                                span.input-dot__dot.input-dot__dot_radio
                                span.input-dot__text Button

                    .index__dot.index__dot_width_50
                        .input-dot
                            input(type="radio" name="dot" id="dot4" checked  ).input-dot__input
                            label(for="dot4").input-dot__label
                                span.input-dot__dot.input-dot__dot_radio
                                span.input-dot__text Button

                    .index__dot.index__dot_width_50
                        .input-dot
                            input(type="radio" name="dotd" id="dot3" checked disabled="disable").input-dot__input
                            label(for="dot3").input-dot__label
                                span.input-dot__dot.input-dot__dot_radio
                                span.input-dot__text Button

            h2 Toggle
                .index__toggles.index__toggles_row
                    .index__toggle.index__toggle_width_50
                        include blocks/input-toggle/input-toggle.pug

                    .index__toggle.index__toggle_width_50
                        .input-toggle
                            input(type="checkbox" name="toggle" id="toggle2" disabled="disable").input-toggle__input
                            label(for="toggle2").input-toggle__label
                                span.input-toggle__dot.input-toggle__dot_on On
                                span.input-toggle__dot.input-toggle__dot_off Off
                            span.input-toggle__text VKontakte

                    .index__toggle.index__toggle_width_50
                        .input-toggle
                            input(type="checkbox" name="toggle" id="toggle3" checked ).input-toggle__input
                            label(for="toggle3").input-toggle__label
                                span.input-toggle__dot.input-toggle__dot_on On
                                span.input-toggle__dot.input-toggle__dot_off Off
                            span.input-toggle__text Twitter

                    .index__toggle.index__toggle_width_50
                        .input-toggle
                            input(type="checkbox" name="toggle" id="toggle4" checked disabled="disable").input-toggle__input
                            label(for="toggle4").input-toggle__label
                                span.input-toggle__dot.input-toggle__dot_on On
                                span.input-toggle__dot.input-toggle__dot_off Off
                            span.input-toggle__text Google

        .index__col.index__col_width_50
            h2 Menu
            .index__menu
                include blocks/main-menu/main-menu.pug

    //h1 Grid
    //
    //.grid.grid_row
    //    .grid__element.grid__element_width_25x50x10
    //        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 25x50x10
    //    .grid__element.grid__element_width_25x50x10
    //        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 25x50x10
    //    .grid__element.grid__element_width_25x50x10
    //        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 25x50x10
    //    .grid__element.grid__element_width_25x50x10
    //        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 25x50x10
    //    .grid__element.grid__element_width_25x50x10
    //        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 25x50x10
    //    .grid__element.grid__element_width_25x50x10
    //        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 25x50x10
    //    .grid__element.grid__element_width_25x50x10
    //        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 25x50x10
    //    .grid__element.grid__element_width_25x50x10
    //        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 25x50x10
    //    .grid__element.grid__element_width_25x50x10
    //        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 25x50x10
    //    .grid__element.grid__element_width_25x50x10
    //        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 25x50x10
    //
    //    .grid__element.grid__element_width_100x50x20
    //        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 100x50x20
    //    .grid__element.grid__element_width_100x50x80
    //        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 100x50x80
    //
    //    .grid__element.grid__element_width_100x50x30
    //        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 100x50x30
    //    .grid__element.grid__element_width_100x50x70
    //        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 100x50x70
    //
    //    .grid__element.grid__element_width_50x25x10
    //        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 50x25x10
    //    .grid__element.grid__element_width_50x25x20
    //        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 50x25x20
    //    .grid__element.grid__element_width_50x25x30
    //        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 50x25x30
    //    .grid__element.grid__element_width_50x25x40
    //        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 50x25x40
    //
    //    .grid__element.grid__element_width_100x33x30
    //        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 100x33x30
    //    .grid__element.grid__element_width_100x33x30
    //        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 100x33x30
    //    .grid__element.grid__element_width_100x33x40
    //        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 100x33x40
    //
    //
    //    .grid__element.grid__element_width_50x50x25
    //        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 50x50x25
    //    .grid__element.grid__element_width_50x50x25
    //        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 50x50x25
    //    .grid__element.grid__element_width_50x50x25
    //        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 50x50x25
    //    .grid__element.grid__element_width_50x50x25
    //        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 50x50x25
    //
    //h1 Buttons and inputs
    //
    //    h2 Button
    //
    //    .btn-blocks.btn-blocks_row
    //        .btn-blocks__element.btn-blocks__element_width_100x50x100
    //            button.btn.btn_border_solid_2.btn_success Успешно
    //        .btn-blocks__element.btn-blocks__element_width_100x50x150
    //            button(type="submit").btn.btn_border_solid_2.btn_error Нет
    //        .btn-blocks__element.btn-blocks__element_width_100x25x250
    //            button(type="submit").btn.btn_border_solid_2.btn_conform Да
    //        .btn-blocks__element.btn-blocks__element_width_100x75x450
    //            button(type="submit").btn.btn_border_solid_2.btn_alert Внимание
    //
    //    h2 Check and radio box
    //
    //    .btn-blocks.btn-blocks_row
    //        .btn-blocks__element.btn-blocks__element_width_50x50x50
    //            .btn-blocks__content
    //                .input-dot
    //                    input(type="radio" name="dot" id="dot1").input-dot__input
    //                    label(for="dot1").input-dot__label
    //                        span.input-dot__dot.input-dot__dot_radio
    //                        span.input-dot__text Button
    //
    //                .input-dot
    //                    input(type="radio" name="dot" id="dot2").input-dot__input
    //                    label(for="dot2").input-dot__label
    //                        span.input-dot__dot.input-dot__dot_radio
    //                        span.input-dot__text Button
    //                .input-dot
    //                    input(type="radio" name="dot" id="dot3").input-dot__input
    //                    label(for="dot3").input-dot__label
    //                        span.input-dot__dot.input-dot__dot_radio
    //                        span.input-dot__text Button
    //
    //        .btn-blocks__element.btn-blocks__element_width_50x50x50
    //            .btn-blocks__content
    //                .input-dot
    //                    input(type="checkbox" name="check" id="check1").input-dot__input
    //                    label(for="check1").input-dot__label
    //                        span.input-dot__dot.input-dot__dot_check
    //                        span.input-dot__text Выбери
    //
    //                .input-dot
    //                    input(type="checkbox" name="check" id="check2").input-dot__input
    //                    label(for="check2").input-dot__label
    //                        span.input-dot__dot.input-dot__dot_check
    //                        span.input-dot__text Выбери
    //                .input-dot
    //                    input(type="checkbox" name="check" id="check3").input-dot__input
    //                    label(for="check3").input-dot__label
    //                        span.input-dot__dot.input-dot__dot_check
    //                        span.input-dot__text Выбери




